@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
a {
  color: inherit;
  text-decoration: none;
}
*{
  font-family: 'Radio Canada', sans-serif;
}
.table-content table .quesNotDone td {
    border: solid 0.2px;
  }
  
  .table-content table th{
    border: solid 0.2px;
  }
  
  .table-content table{
    width: 75%;
    height: 30px;
    margin: 30px auto ;
  }
  
  .table-content table th{
    padding: 15px;
    text-align: center;
    font-size: 17px;
  }
  .table-content table tr td {
    padding: 15px;
    
  
  }
  .table-content table tr td a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .quesDone{
    background-color: #C8E6C9;
    border: none;
  }

  .card button{
    background-color: rgb(0,123,255);
    border-radius: 20px;
    font-size: 15px;
    padding: 9px;
    color: white;
  }

  .card .green-button{
    background-color: rgb(40,167,69);
  }

 

  .true{
    background-color: rgb(170,214,185);

  }

  .false{

    background-color: rgb(170,208,246);
    
  }
  .commoncss{
    border-radius: 50px;
    
  }
  .commoncss h2{
    color: rgb(51,51,51);
    font-size: 25px;
  }
  .commoncss p{
    color: rgb(79,79,79);
    font-size: 15px;
  }

  .progress {
    background-color: #d8d8d8;
    border-radius: 5px;
    position: relative;
    height: 30px;
    width: 70%;
  }
  
  .progress-done {
    background: green;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
  }

  .adjust-height{
   
    height: 600px;
    overflow: auto;
  }